*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 88%;
    max-width: 1360px;
    margin: 10px auto;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
.btn{
    background-color: #469165;
    color: white;
    border-radius: 4px;
    margin: 10px 10px;
    border: none;
    padding: 1px 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: #F15B22;
}
#hero {
    height: 650px;
    background-image: url("./assets/hero-bg.png");
    padding: 115px 120px 180px 120px;
}
.hero-content {
    width: 50%;
    max-width: 770px;
    margin: auto;
    /* display: flex; */

    /* align-items: center; */
    text-align: center;
}
.hero-content h1 {
    font-size: 62px;
    color: white;
    margin-bottom: 16px;
}
.hero-content h1 .differ {
    color: #30B868;
}
.hero-content p {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}
.hero-content .buton{
    background-color: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
     padding: 10px 20px;
}
.hero-content .buton:hover {
    background-color: #F15B22;
}
.hero-content .btn {
    padding: 10px 20px;
}
.notes-content {
    width: 88%;
    max-width: 1360px;
    margin: auto;
    
}
.note-content-text h4{
    text-align: center;
    padding-top: 40px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.note-content-text p {
    text-align: center;
    line-height: 20px;
    color: #627382;
}
.note-content-card {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 44px;
}
.note-content-card .card {
    text-align: center;
    padding: auto;
    align-items: center;
}
.icon{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: 125px;
      background-color: #F95555;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
}
.icon img {
  width: 30px;    
  height: auto;   
}
.card h4 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    margin-bottom: 20px;
}