*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 88%;
    max-width: 1360px;
    margin: 10px auto;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
.btn{
    background-color: #469165;
    color: white;
    border-radius: 4px;
    margin: 10px 10px;
    border: none;
    padding: 1px 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: #F15B22;
    color: #001931;
}
#hero {
    height: 650px;
    background-image: url("./assets/hero-bg.png");
    padding: 115px 120px 180px 120px;
}
.hero-content {
    width: 50%;
    max-width: 770px;
    margin: auto;
    /* display: flex; */

    /* align-items: center; */
    text-align: center;
}
.hero-content #sepcial-btn {
    color: #30B868;
    background-color: white;
    /* border-bottom-left-radius: 30% ;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%; */
    border-radius: 9999px;
    cursor: pointer;
}
.hero-content #sepcial-btn i{
    margin-right: 5px;
    box-shadow: 0 4px 8px rgba(70,145,101,.2);
}
#sepcial-btn:hover {
    color: #001931;
    background-color: #F15B22;
}
.hero-content h1 {
    font-size: 62px;
    color: white;
    margin-bottom: 16px;
}
.hero-content h1 .differ {
    color: #30B868;
}
.hero-content p {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}
.hero-content .buton{
    background-color: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
     padding: 10px 20px;
}
.hero-content .buton i {
    background-color: none;
    margin-right: 5px;
}
.hero-content .buton:hover {
    background-color: #F15B22;
}
.hero-content .btn {
    padding: 10px 20px;
}
.hero-content .btn i {
    margin-left: 5px;
}
.notes-content {
    width: 88%;
    max-width: 1360px;
    margin: auto;
    margin-bottom: 120px;
    
}
.note-content-text h4{
    text-align: center;
    padding-top: 40px;
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.note-content-text p {
    text-align: center;
    line-height: 20px;
    color: #627382;
}
.note-content-card {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-top: 44px;
}
.note-content-card .card {
    text-align: center;
    padding: auto;
    align-items: center;
}
.icon{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: 125px;
      background-color: #F95555;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
}
.icon img {
  width: 30px;    
  height: auto;   
}
.card h4 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    margin-bottom: 20px;
}
#brain{
    padding: px;
}
.brain-content {
    width: 88%;
    max-width: 1360px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}
.brain-content-text {
    width: 500px;
}
.brain-content-text #first{
    color: #469165;
    line-height: 20px;
    margin-bottom: 16px;
}
.brain-content-text h2 {
    /* width: 500px; */
    color: #001931;
    font-size: 48px;
    margin-bottom: 16px;
}
.brain-content-text #second {
    /* width: 500px; */
    color: #627382;
    line-height: 20px;
    margin-bottom: 30px;
}
.brain-content-text .list {
    color: #001931;
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li i{
     position: relative;
    margin-bottom: 8px;
    line-height: 26px;
    color: #30B868;
    padding-left: 0px;
    /* color: #001931; */
}
.list li::before {
    /* content: "✓"; */
  position: absolute;
  left: 0;
  top: 0;
  color: #001931;
  font-weight: bold; 
}
#think {
    margin-bottom: 120px;
}
.think-content {
    width: 88%;
    max-width: 1360px;
    /* margin: 80px 40px; */
    margin: auto;
    background-color: #F7F6F2;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 80px 40px;
}
.think-content .think-content-text h2{
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}
.think-content .think-content-text #one  {
    color: #627382;
    line-height: 20px;
    margin-bottom: 15px;
}
.think-content .think-content-text .btn {
    padding: 10px 20px;
    margin-bottom: 16px;
}
.think-content .think-content-text .btn i{
    margin-left: 10px;
}
.think-content .think-content-text #two {
    color: #627382;
    line-height: 20px;
}
footer{
     background-color: #001931;
}
.footer-content{
    width: 88%;
    max-width: 1360px;
    margin: auto;
   
    padding: 120px 120px 30px 120px;
}
.footer-content .footer-content-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footer-content-logo p {
    color: white;
    margin-bottom: 16px;
    font-weight: 400;
}
.footer-content-logo a {
    background-color: white;
    border: none;
    border-radius: 50%;
    margin-right: 16px;
    width: 30px;
    height: 30px;
    
}
hr{
    background-color: #627382;
    opacity: 0.1;
}
#pdf{
    text-align: center;
    color: #FAFAFA;
    line-height: 24px;
    margin-top: 30px;
}
