*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 88%;
    max-width: 1360px;
    margin: 10px auto;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
.btn{
    background-color: #469165;
    color: white;
    border-radius: 4px;
    margin: 10px 12px 10px 12px;
    border: none;
}